@import "normalize";

/*Variables*/
$purple: #6034B2 !default;
$black: #000000 !default;
$white: #FFFFFF !default;
$lightGrey: #F0F0F0 !default;
$darkGrey: #1A1A1A !default;

$text-color: $white !default;
$link-color: $purple !default;

